*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h4{
    font-weight: bold;
}

.login-container {
    margin-top: 100px;
    width: 450px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.cadastro-container {
    /* margin-top: 100px; */
    width: 450px;
    padding: 20px;
    /* border: 1px solid #000; */
    /* border-radius: 4px; */
    /* background-color: #f9f9f9; */
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-cols{    
    display: flex;
    justify-content: space-between;
}

.col1{
    width: 45%;
}

button#comForm_BtComent{
    width: 100px;
}

hr{
    width: 25%;
    border-top: 1px solid #606060;
}

.semConta{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

body h1 a{
    font-size: 35px;
    color: #000;
}

body h1 a:hover{
    font-size: 35px;
    color: #000;
    text-decoration: none;
}

.comSucess{
    padding: 5px;
}

.comentario{
    display: flex;
    justify-content: space-between;
}

.nomeComentario{
    font-weight: bold;
     font-size: 15px;
}

div div div p{
    margin: 0px;
    word-wrap: break-word;  
    overflow-wrap: anywhere;
}

.comentarioForms{
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    width: 50%;
}

.comentarioMar{
    margin: 10px;
}

.datComentario{
    text-align: left; 
    width: fit-content
}